<h2>All Posts</h2>
<% if (posts.length > 0) { %>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No posts yet. <a href="/new-post">Create a new post</a>.</p>
<% } %>
